<div class="row">
  <div class="small-12 medium-10 large-7 xlarge-6 small-centered columns recipe-form">
  	<div class="sign-in-container">
  	   <%#= image_tag "new_logo.png", class: "logo" %>
  	  <h3>Sign Up</h3>
  	  <p>Sign up to create, comment, and vote on recipes!</p>

      <%= form_for resource, as: resource_name, id: "sign-in-form", :url => registration_path(resource_name)  do |f| %>
          <%#= devise_error_messages! %>
          <% if resource.errors.any? %>
          <div id="errors_count">
            <% unless flash[:notice] %>
            <h4><%= pluralize(resource.errors.count, "error") %> prohibited this recipe from being saved!</h4>
            

                <ul>
                  <% resource.errors.each do |attribute, msg| %>

                  <li><%= attribute.to_s.capitalize + "-" + msg %></li>
                  <% end %>
                </ul>
            </div>
            <% end -%>
          <% end -%>

            <div class="other"><span>Already a user? </span><%= link_to "Sign in", new_user_session_path, class: "sign" %></div>
  	        <div class="section clrfix">
  	          <%= f.label :username, "&#xf007;".html_safe, class: "fa inline" %>
  	          <%= f.text_field :username, placeholder: "Username", class: "" %>
  	        </div>
            <div class="section clrfix">
              <%= f.label :email, "&#xf0e0;".html_safe, class: "fa inline" %>
              <%= f.text_field :email, placeholder: "Middlebury Email", class: "", title: "We need this to send you a confirmation email", data: {tooltip: "", options: "disable_for_touch:true"} %>
              <div class="info"></div>
            </div>
            <% if f.object.password_required? %>
            <div class="section clrfix">
              <%= f.label :password, "&#xf023".html_safe, class: "fa inline" %>
              <%= f.password_field :password, placeholder: "Password" %>
            </div>
            <div class="clrfix">
              <%= f.label :password_confirmation, "&#xf023".html_safe, class: "fa inline" %>
              <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
            </div>
            <% end %>
  	        <div class="clrfix">
  	          <%= f.submit 'Sign Up', class: "button-thick" %>
  	        </div>
  	  <% end %>

  	  <h5 class="or">
  	    <span>OR</span>
  	  </h5>

  	  <%= link_to(user_omniauth_authorize_path(:facebook), class: "facebook_sign_in") do %>
  	    <span class="socialico">F</span> <span>Sign Up with Facebook</span>
  	  <% end %>



      <h4 class="more">Help</h4>

      <div class="devise_links">
        
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      <% end -%>

      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
      <% end -%>

      <%= link_to "Entered the wrong email during sign up?", users_wrong_email_path %>
      
      </div>

  	</div>
  </div>
</div>  

