<div class="row">
  <div class="small-12 medium-10 large-7 xlarge-6 small-centered columns recipe-form">
  	<div class="sign-in-container">
  	   <%#= image_tag "new_logo.png", class: "logo" %>
  	  <h3>Sign Up</h3>
  	  <p>Sign up to create, comment, and vote on recipes!</p>

      <%= form_for resource, as: resource_name, id: "sign-in-form", :url => registration_path(resource_name)  do |f| %>
          <%= devise_error_messages! %>
            <div class="other"><span>Already a user? </span><%= link_to "Sign in", new_user_session_path, class: "sign" %></div>
  	        <div class="section clrfix">
  	          <%= f.label :username, "&#xf007;".html_safe, class: "fa inline" %>
  	          <%= f.text_field :username, placeholder: "Username", class: "" %>
  	        </div>
            <div class="section clrfix">
              <%= f.label :email, "&#xf0e0;".html_safe, class: "fa inline" %>
              <%= f.text_field :email, placeholder: "Middlebury Email", class: "", title: "We need this to send you a confirmation email", data: {tooltip: ""} %>
              <div class="info"></div>
            </div>
            <% if f.object.password_required? %>
            <div class="section clrfix">
              <%= f.label :password, "&#xf023".html_safe, class: "fa inline" %>
              <%= f.password_field :password, placeholder: "Password" %>
            </div>
            <div class="clrfix">
              <%= f.label :password_confirmation, "&#xf023".html_safe, class: "fa inline" %>
              <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
            </div>
            <% end %>
  	        <div class="clrfix">
  	          <%= f.submit 'Sign Up', class: "button-thick" %>
  	        </div>
  	  <% end %>

  	  <h5>
  	    <span>OR</span>
  	  </h5>

  	  <%= link_to(user_omniauth_authorize_path(:facebook), class: "facebook_sign_in") do %>
  	    <span class="socialico">F</span> <span>Sign in with Facebook</span>
  	  <% end %>

  	</div>
  </div>
</div>  

<%= render "devise/shared/links" %>
