<div class="comment" data-id="<%= comment.id %>">
	<div class="meta clrfix">
		<%= link_to comment.user.handle_name, user_show_path(comment.user), class: "user-handle" %>
		<% if can? :destroy, comment %>
		<%= link_to "", comment_path(comment), method: :delete, class: "fa fa-times", data: { confirm: "Delete this comment?"}, remote: true %>
		<% end -%>
		<span class="time-ago"><%= time_ago_in_words(comment.created_at) %> ago</span>
	</div>
	<p class="comment-body"><%= comment.comment %></p>
</div>