<% if logged_in? %>
<div class="actions mini" data-recipe-id="<%= recipe.id %>">
	<!-- Bite -->
	<% if @user_bites.include? recipe.id %>
		<%= link_to "", unvote_recipe_path(recipe.id, association: "bites"), remote: true, method: :delete, class: "bite icon voted" %>
	<% else %>	
		<%= link_to "", vote_recipe_path(recipe.id, association: "bites"), remote: true, method: :post, class: "bite icon" %>
	<% end %>
	<div class="number"><%= recipe.bites_count %></div>
	<!-- Favorite -->
	<% if @user_favs.include? recipe.id  %>
		<%= link_to '', unvote_recipe_path(recipe.id, association: "favorites"), remote: true, method: :delete, class: "fav fa icon voted" %>
	<% else %>	
		<%= link_to '', vote_recipe_path(recipe.id, association: "favorites"), remote: true, method: :post, class: "fav fa icon" %>
	<% end %>
	<div class="number"><%= recipe.favorites_count %></div>
	<!-- Comment -->
	<div class="comment icon">
		<%= link_to '', recipe_path(recipe), class: "fa fa-comment-o" %>
	</div>
	<div class="number"><%= recipe.comments_count %></div>
</div>
<% else %>
<div class="actions mini">

</div>
<% end -%>