<% counter = 1 %>
<% recipes.each do |recipe| %>
	<li class="recipe-item">
		<div class="image">
			<% if params[:action] == "top" %>
			<span class="rank-number"><%= counter %></span>
			<% end %>
			<%= link_to(recipe_path(recipe),  class: "overlay main") do %>
				<div class="vert-center-table">
					<div class="cell text-center">
						<%= recipe.ingredients_list %>
						<%# render 'recipes/actions_mini', recipe: recipe %>
					</div>
				</div>
			<% end -%>	
			
			<% if !recipe.image_url(:thumb).nil? %>
				<%= image_tag recipe.image_url(:thumb) %>
			<% else %>
				<%= image_tag "default_image.jpg" %>
			<% end %>
			<!-- <div class="meta">
				<%#= render 'recipes/actions_mini', recipe: recipe %>
				<% if params[:action] == "popualar" %>
				<div class="recent-bites">
					<%= recipe.recent_bites %> recent <%= recipe.recent_bites > 1 ? "bites" :  "bite" %>
				</div>
				<% end %>
			</div> -->
		</div>
		<%= link_to recipe.title, recipe_path(recipe), class: "title" %>
		<%# render 'recipes/actions_mini', recipe: recipe %>

	</li>
	<% counter += 1 %>
<% end -%>	