<% if !current_user.nil? && current_user.voted_on?(@recipe, association) %>
	<%= link_to(unvote_recipe_path(@recipe, association: association, dom_id: dom_id), remote: true, method: :delete, id: "#{@recipe.id}_#{association}_link" ) do %>
		<% if association == "bites" %>
			<div class="icon-font bite voted"><%= @recipe.reload; @recipe.bites_count %></div>
		<% elsif association == "favorites" %>
			<span class="icon-font favorite voted"><%= @recipe.reload; @recipe.favorites_count %></span>
		<% end -%>
	<% end %>
<% else %>
	<%= link_to(vote_recipe_path(@recipe, association: association, dom_id: dom_id), remote: true, method: :post , id: "#{@recipe.id}_#{association}_link") do %>
		<% if association == "bites" %>
			<div class="icon-font bite not_voted"><%= @recipe.reload; @recipe.bites_count %></div>
		<% elsif association == "favorites" %>
			<div class="icon-font favorite not_voted"><%= @recipe.reload; @recipe.favorites_count %></div>
		<% end -%>
	<% end %>
<% end %>