<%# render 'old_grid_recipes' %>

<div class="row">
  <div class="header-title text-center">
    <h1>All Recipes</h1>
  </div>
</div>

<% view = params[:view] %>

<div class="row display-options">
  <%= link_to url_for(params.merge(view: "")), class: "icon-font #{'active' if view == ""}" do %>
    <span class="icon-font">&#xf028</span>
  <% end %>
  <%= link_to url_for(params.merge(view: "tiles")), class: "icon-font #{'active' if view == "tiles"}" do %>
    <span class="icon-font">&#xf026</span>
  <% end %>
  <%= link_to url_for(params.merge(view: "list")), class: "icon-font #{'active' if view == "list"}" do %>
    <span class="icon-font">&#xf0A9</span>
  <% end %>
</div>

<div class="recipe-listings">
  
<% if view == "detailed" || view.blank? %>
  <%= render  "detailed_recipes", recipes: @recipes %>
<% elsif view == "tiles" %>
  <%= render  "tile_recipes", recipes: @recipes %>
<% elsif view == "list" %>
  <%= render  "list_recipes", recipes: @recipes %>
<% end %>

</div>
