<h2>Recipes</h2>
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
    <% @recipes.each do |recipe| %>
    <li>
      <%- if recipe.image? %>
      <div class="grid-recipe round-box with-image">
        <div class="relative-wrap">
          <div class="recipe-image">
            <%= link_to(recipe_path(recipe)) do %>
              <%= image_tag recipe.image_url %>
            <% end %>
          </div>
          
          <%= link_to(recipe_path(recipe)) do %>
          <h3>
            <%= recipe.title %>
          </h3>
          <% end %>
          
          <div class="create-info clrfix">
            <small>
              <span class="creator left"><%= link_to recipe.user.handle, "#" %></span>
              <span class="created-at right"><%= recipe.created_at.strftime('%b %e, %Y') %></span>
            </small>
          </div>
        </div>
      </div>
      <% else %>
      <div class="grid-recipe round-box no-image">
          <div class="relative-wrap">
            <%= link_to(recipe_path(recipe)) do %>
            <div class="table">
              <div class="text-info">
                <h2> <%= recipe.title %></h2>
                <div class="blurb"><%= recipe.blurb %></div>
              </div>
            </div>
            <% end %>
            
            <div class="create-info clrfix">
              <small>
                <span class="created-at right"><%= recipe.created_at.strftime('%b %e, %Y') %></span>
                <span class="creator left"><%= link_to recipe.user.handle, "#" %></span>
              </small>
            </div>
          </div>
      </div>
      <% end -%>
    </li>
    <% end %>
  </ul>

<br>

