<%# render 'old_grid_recipes' %>

<div class="row">
  <div class="header-title text-center">
    <h1>All Recipes</h1>
  </div>
</div>

<div class="row display-options">
 <%= link_to "list", params.merge(view: "list") %> 
 <%= link_to "tile", params.merge(view: "tiles") %>
 <%= link_to "default", params.merge(view: "") %>
</div>

<% view = params[:view] %>
<% if view == "detailed" || view.blank? %>
  <%= render  "detailed_recipes", recipes: @recipes %>
<% elsif view == "tiles" %>
  <%= render  "tile_recipes", recipes: @recipes %>
<% elsif view == "list" %>
  <%= render  "list_recipes", recipes: @recipes %>
<% end %>