<%= provide :heading, "Create a Recipe" %>

<div class="format-recipe-box box">
	<div class="padded-wrap">
	<%= form_for(@recipe) do |f| %>
	<% if @recipe.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

	      <ul>
	      <% @recipe.errors.each do |attribute, msg| %>

	        <li><%= attribute.to_s.capitalize + "-" + msg %></li>
	      <% end %>
	      </ul>
	    </div>
	<% end %>
		
	<div class="field">
	    <%= f.label :title do %><br>
		<h4 class="grapefruit">Title</h4>
	    <% end -%>
	    <%= f.text_field :title, maxlength: Recipe::TITLE_LENGTH %>
	</div>	

    <div class="field">
      <%= f.label :blurb do %><br>
  	<h4 class="darkGrey">Blurb</h4>
      <% end -%>
      <%= f.text_field :blurb, maxlength: Recipe::BLURB_LENGTH %>
    </div>

    <div id="ingredients-section" class="field" >
		<h4 class="blue">Ingredients</h4>

		<%= link_to "Add Ingredient", "#", class: "add-ingredient" %>
		<%= f.fields_for :ingredients do |ingredient_form| %>
			<%= render 'ingredient_fields', f: ingredient_form %>
		<% end -%>
		
    </div>
	<% @ingredient_fields_content = add_fields_helper(f, :ingredients) %>

	<div class="field">
	    <%= f.label :directions do %><br>
		<h4 class="mint">Directions</h4>
	    <% end -%>
	    <%= f.text_area :directions %>
	</div>
	<%= f.submit "Create Recipe!", id: :create_recipe %>
	<% end %>

	</div>
</div>

<script>
	// var items = <%= @items_json %>;
	$(document).ready(function() {
		// Add ingredient functionality
		$('#ingredients-section').on("click", ".add-ingredient", function() {
			add_fields(this, "ingredients", "<%= escape_javascript(@ingredient_fields_content) %>")
		    return false;
		  });
		
		function add_fields(link, association, content) {
		  var new_id = new Date().getTime();
		  var regexp = new RegExp("new_" + association, "g")
		  $(link).after(content.replace(regexp, new_id));
		};

		// Remove Ingredient functionality
		$('#ingredients-section').on("click", ".remove.btn", function() {
			$(this).prev("input[type=hidden]").val("1");
			$(this).closest(".ingredient-fields").hide();
			return false;
		});

		// Individual sliding functionality	
		$("#ingredients-section").on("click", ".go-right", function() {
			var wrap = $('#ingredients-section').width()
			$(this).closest('.ingredient-fields').css("transform","translateX("+-wrap+"px)");
		});

		$("#ingredients-section").on("click", ".go-left", function() {
			var wrap = $('#ingredients-section').width()
			$(this).closest('.ingredient-fields').css("transform","translateX("+0+"px)");
		});
		// All Ingredients sliding functionality
		$("#ingredients-section").on("click", ".all-right", function() {
			var wrap = $('#ingredients-section').width()
			$(this).closest('.ingredient-fields').css("transform","translateX("+-wrap+"px)");
		});

		$("#ingredients-section").on("click", ".all-left", function() {
			var wrap = $('#ingredients-section').width()
			$(this).closest('.ingredient-fields').css("transform","translateX("+0+"px)");
		});
	});
</script>