<div class="row">

  <div class="section-nav text-center">
    <%= link_to "All", recipes_path %>
    <%= link_to "Recent", recent_recipes_path %>
    <%= link_to "Top", top_recipes_path %>
    <%= link_to "Popular", popular_recipes_path %>
  </div>

  <div class="header-title text-center">
    <h1><%= @header %></h1>
  </div>

<% view = @view %>
  <div class="display-options">
    <%= link_to url_for(params.merge(view: "detailed")), class: "icon-font #{'active' if view == "detailed"}" do %>
      <span class="icon-font">&#xf028</span>
    <% end %>
    <%= link_to url_for(params.merge(view: "tiles")), class: "icon-font #{'active' if view == "tiles"}" do %>
      <span class="icon-font">&#xf026</span>
    <% end %>
    <%= link_to url_for(params.merge(view: "list")), class: "icon-font #{'active' if view == "list"}" do %>
      <span class="icon-font">&#xf0A9</span>
    <% end %>
  </div>
  <% if params[:action] == "index" %>
  <div class="sort-options">
    <span>Sort by: </span>
    <a href="#" data-dropdown="sort-options" data-options="is_hover:true"><%= params[:sort] ? params[:sort].titlecase : "Name"   %></a>
    <ul id="sort-options" class="f-dropdown" data-dropdown-content>
      <li><%= link_to "Name", params.merge(sort: "name") %></li>
      <li><%= link_to "Popularity", params.merge(sort: "popularity") %></li>
      <li><%= link_to "Date", params.merge(sort: "date") %></li>
      <li><%= link_to "Chatter", params.merge(sort: "chatter") %></li>
    </ul>
  </div>
  <% end %>
</div>

<div class="row recipe-listings">
  
<% if view == "detailed" || view.blank? %>
  <div class="detailed-recipes clrfix">
    <%= render  "detailed_recipes", recipes: @recipes %>
  </div>
<% elsif view == "tiles" %>
  <div class="tile-recipes">
    <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-3">
      <%= render  "tile_recipes", recipes: @recipes %>
    </ul>
  </div>
<% elsif view == "list" %>
  <div class="list-recipes">
    <table class="">
      <tbody>
        <%= render  "list_recipes", recipes: @recipes %>
      </tbody>
    </table>
  </div>
<% end %>


<% unless params[:action] == "top" %>
  <%# page_entries_info @recipes %>
  <% if @recipes.total_pages > 1 %>
  <a href="#" id="load_more">Load More</a>
  <% end -%>

  <%= will_paginate @recipes, inner_window: 2, outer_window: -1, class: "row pagination", next_label: "Next", previous_label: "Prev" %>
<% end -%>


</div>

<!-- <div class="have-a-recipe">
  <div class="row">
    Have a great recipe?  <%= link_to "Create & Share", new_recipe_path, class: "red-button" %>
  </div>
</div> -->
