<div class="recipe-box">
	<div class="padded-wrap">
		<h2 class="title"><%= @recipe.display_title %></h2>
		<p class="blurb"><%= @recipe.blurb %></p>
		<div class="tags">
			<span class="icon-font tag">&#xf0ab</span>
			<a href="#">Yummy</a>
			<a href="#">Breakfast</a>
			<a href="#">Sandwich</a>
			<a href="#">Hot</a>
		</div>
		<div id="photo-container"></div>
		<hr>
		<h3>ingredients</h3>
		<ul class="ingredient-list">
			<% @recipe.ingredients.each do |ingredient| %>
			<li class="clrfix">
				<span class = "name"><%= ingredient.name %></span>
				
				<span class="quantity">
					<%= ingredient.quantity %></span>

			</li>
			<% end -%>
		</ul>
		<h3>directions</h3>
		<p class="directions"><%= @recipe.directions %></p>
		<hr>
		<%- if @recipe.created_at == @recipe.updated_at -%> 
			<small>created: <%= @recipe.created_at.strftime('%b%e, %Y') %></small><br>
		<%- else -%> 
			<small>edited: <%= @recipe.updated_at.strftime('%b%e, %Y') %></small>
		<%- end -%>
		
	</div>
	<div class="votes">
		<div class="vote">
			<div class="icon-font heart">&#xf049</div>
		</div>
		<div class="vote"></div>
		<div class="vote"></div>
	</div>
</div>

<%= link_to "Edit", edit_recipe_path(@recipe) %>
