<div class="recipe-box">
	<div class="padded-wrap">
		<h2 class="title"><%= @recipe.display_title %></h2>
		<p class="blurb"><%= @recipe.blurb %></p>
		
	<!-- 	<div id="photo-container">
			<hr>
		</div> -->
		
		<h3>ingredients</h3>
		<ul class="ingredient-list">
			<% @recipe.ingredients.each do |ingredient| %>
			<li class="clrfix">
				<span class = "name"><%= ingredient.name %></span>
				
				<span class="quantity">
					<%= ingredient.quantity %></span>

			</li>
			<% end -%>
		</ul>
		<h3>directions</h3>
		<p class="directions"><%= @recipe.directions %></p>
		<div class="tags">
			<span class="icon-font tag">&#xf0ab</span>
			<% @recipe.tags.each do |tag| %>
					<span><%= tag.name %></span>
				<% end %>	
		</div>
		<hr>
		<div class="creator-info clrfix">
			<%- if @recipe.created_at == @recipe.updated_at -%> 
				<small class="left">created: <%= @recipe.created_at.strftime('%b %e, %Y') %></small>
			<%- else -%> 
				<small class="left">edited: <%= @recipe.updated_at.strftime('%b %e, %Y') %></small>
			<%- end -%>
			
			<small class="right"><%= @recipe.user.name %></small>
		</div>
		
	</div>
</div>
	<div class="engage-actions">
		<div class="vote bites" id="bite_<%= @recipe.id %>">
			<%= render "vote", association: "bites", dom_id: "bite_"+@recipe.id.to_s %>	
		</div>
		<div class="vote favorites" id="favorite_<%= @recipe.id %>">
			<%= render "vote", association: "favorites", dom_id: "favorite_"+@recipe.id.to_s %>	
		</div>
		<div class="vote favorite"></div>
		<div class="comment"></div>
	</div>

<%= link_to "Edit", edit_recipe_path(@recipe) %>
