<%= render "shared/flash_holder" %>

<div class="recipe-info box">
	<div class="padded-wrap">
		<h2><%= @recipe.display_title %></h2>
		<p class="blurb"><%= @recipe.blurb %></p>
		<div class="tags">
			<span>Tags:</span>
			<a href="#">Yummy</a>
			<a href="#">Breakfast</a>
			<a href="#">Sandwich</a>
			<a href="#">Hot</a>
		</div>
		<hr>
		<%- if @recipe.created_at == @recipe.updated_at -%> 
			<small>created: <%= @recipe.created_at.strftime('%b%e, %Y') %></small><br>
		<%- else -%> 
			<small>edited: <%= @recipe.updated_at.strftime('%b%e, %Y') %></small>
		<%- end -%> 
		 
	</div>
</div>

<div class="recipe-content box">
	<div class="padded-wrap">
		<h3>Ingredients</h3>
		<ul class="ingredient-list">
			<% @recipe.ingredients.each do |ingredient| %>
			<li><div><%= ingredient.name %>, <%= ingredient.quantity %></div></li>
			<% end -%>
		</ul>
		<h3>Directions</h3>
		<p class="directions"><%= @recipe.directions %></p>
	</div>
</div>

<%= link_to "Edit", edit_recipe_path(@recipe) %>
