<%= content_for :sidebar_content do %>
	<%= render 'social_share_icons', recipe: @recipe %>
<% end -%>

<div class="show-recipe padded-wrap round-box">
	<h2 class="title"><%= @recipe.title %></h2>
	<p class="blurb"><%= @recipe.blurb %></p>
	<%- if @recipe.image? %>
	<div class="recipe-image">
		<%= image_tag @recipe.image_url %>
	</div>
	<% end -%>
	<h3>ingredients</h3>
	<ul class="ingredient-list">
		<% @recipe.ingredients.each do |ingredient| %>
		<li class="clrfix">
			<span class = "name"></span>
			<%= ingredient.name %><% if !ingredient.quantity.blank? %>,<% end -%>
			<% if !ingredient.quantity.blank? %>
				<span class="quantity"> 
					<%= ingredient.quantity %></span>
			<% end %>
			
	
		</li>
		<% end -%>
	</ul>
	<h3>directions</h3>
	<p class="directions"><%= @recipe.directions %></p>
</div>
	
<div class="tags module">
	<span class="icon-font tag">&#xf0ab</span>
	<span class="tag">tags:</span>
	<% @recipe.tags.each do |tag| %>
	<span><%= tag.name %></span>
	<% end %>
</div>




	<div class="engage-actions">
		<div class="vote bites" id="bite_<%= @recipe.id %>">
			<%= render "vote", association: "bites", dom_id: "bite_"+@recipe.id.to_s %>	
		</div>
		<div class="vote favorites" id="favorite_<%= @recipe.id %>">
			<%= render "vote", association: "favorites", dom_id: "favorite_"+@recipe.id.to_s %>	
		</div>
		<div class="vote favorite"></div>
		<div class="comment"></div>
	</div>

<%= link_to "Edit", edit_recipe_path(@recipe) %>

<h3 id="comments">
	<span class="icon-font comment">&#xf003</span>
	Comments ( <%= @recipe.comments_count %> )
</h3>
<div id="comments-section">
	<%= render 'comments/comments_form', comment: @comment %>
	<% @recipe.comments.limit(10).order("created_at DESC").each do |comment| %>
		<%= render 'comments/comment', comment: comment %>
	<% end %>
</div>

<div class="creator-info">
	<small>Created by <%= link_to @recipe.user.name, root_path %></small>
</div>
<div><small><%= @recipe.created_at.strftime('%b %e, %Y') %></small></div>

