<div class="show-recipe">
	<div class="row">
		<div class="small-12 medium-10 large-8 small-centered columns recipe-item">
			<h3 class="title"><%= @recipe.title %></h3>
				
			<%= render 'actions_main', recipe: @recipe %>	
			<%- if @recipe.image? %>
			<div class="image">
				<%= image_tag @recipe.image_url %>
			</div>
			<% end -%>
		</div>
	</div>
	
	<article class="recipe-info row">
		<div class="small-12 medium-10 large-8 small-centered columns recipe-item">

			<div class="recipe">
				<p class="blurb">"<%= @recipe.blurb %>"</p>
				<div class="create-info">
					By: <%= link_to @recipe.user.handle, root_path %> <span class="dot">・</span> <%= @recipe.created_at.strftime('%b %e, %Y') %>
				</div>
				<h4>Ingredients</h4>
				<ul class="ingredient-list">
					<% @recipe.ingredients.each do |ingredient| %>
					<li class="clrfix">
						<span class = "name"></span>
						<%= ingredient.name %><% if !ingredient.quantity.blank? %>,<% end -%>
						<% if !ingredient.quantity.blank? %>
							<span class="quantity"> 
								<%= ingredient.quantity %></span>
						<% end %>
						
				
					</li>
					<% end -%>
				</ul>
				<h4>Directions</h4>
				<p class="directions"><%= @recipe.directions %></p>
				<h4>Tags</h4>
				<!-- <span class="icon-font tag">&#xf0ab</span> -->
				<% @recipe.tags.each do |tag| %>
				<span class="tag"><%= tag.name %></span>
				<% end %>

			</div>
		</div>
	</article>


	<%= link_to "Edit", edit_recipe_path(@recipe) %>

	<div id="comments">
		<h3>
			Comments ( <%= @recipe.comments_count %> )
			<!-- <span class="icon-font">&#xf003</span> -->
		</h3>
		<div class="row">
			<div class="small-12 medium-10 large-8 small-centered columns ">
				<%= render 'comments/comments_form', comment: @comment %>
				<% @recipe.comments.limit(10).order("created_at DESC").each do |comment| %>
					<%= render 'comments/comment', comment: comment %>
				<% end %>
			</div>
		</div>
	</div>
</div>



