<div class="show-recipe recipe-item">
	<div class="row">
		<div class="small-12 medium-10 large-8 xlarge-7 small-centered xlarge-uncentered columns recipe-item">
			<h3 class="title"><%= @recipe.title %></h3>

			<div class="create-info">
				By: <%= link_to @recipe.user.handle_name, user_show_path(@recipe.user) %> <span class="dot">・</span> <%= @recipe.created_at.strftime('%b %e, %Y') %>
			</div>

			<%- if @recipe.image? %>
			<div class="image">
				<%= image_tag @recipe.image_url %>
			</div>
			<% end -%>

			<p class="blurb">"<%= @recipe.blurb %>"</p>
			
				
		</div>
		<div class="small-12 medium-10 large-8 xlarge-5 small-centered xlarge-uncentered columns side-col">
			<%= render 'actions_main', recipe: @recipe %>	

			<h4 class="ingredients-header">Ingredients</h4>
			<ul class="ingredient-list">
				<% @recipe.ingredients.each do |ingredient| %>
				<li class="clrfix">
					<span class = "name">
						<%= link_to ingredient.item.name, item_path(ingredient.item) %><%= "," if !ingredient.quantity.blank? %>
					</span>
					<% if !ingredient.quantity.blank? %>
						<span class="quantity"> 
							<%= ingredient.quantity %></span>
					<% end %>
				</li>
				<% end -%>
			</ul>

			<h4>Directions</h4>
			<p class="directions"><%= @recipe.directions %></p>

			<h4>Tags</h4>
			<!-- <span class="icon-font tag">&#xf0ab;</span> -->
			<div class="tags">
				<% @recipe.tags.each do |tag| %>
				<%= link_to tag.name, tag_path(tag), class: "tag" %>
				<% end %>
			</div>
			
		</div>

	
		<div class="small-12 medium-10 large-8 xlarge-7 small-centered xlarge-uncentered columns">
			<div class="">
				<%= render 'share_links' %>
			</div>
			
			<div id="comments">
				<h4>
					<%= @recipe.comments_count %> Comments 
					<!-- <span class="icon-font">&#xf003</span> -->
				</h4>
				<div id="comments-container">
				<% @recipe.comments.order(:created_at => :desc).limit(10).each do |comment| %>
					<%= render	'comments/comment', comment: comment %>				
				<% end %>
				</div>
				<% if @recipe.comments_count > 10 %>
					<%= link_to "Load all #{@recipe.comments_count} comments", load_comments_path(recipe_id: @recipe), remote: true, id: "load-more" %>
				<% end %>
				<h4>Leave a Comment</h4>
				<div class="comment-response text-center"></div>
				<%- if user_signed_in? -%> 
					<%= render 'comments/comments_form', comment: @comment %>
				<%- else -%> 
				        <div class="please-sign-in text-center">Please <%= link_to "sign in", "#", class: "sign-in", data: {:"reveal-id" => "sign_in_modal"} %> to leave a comment!</div>
				<%- end -%> 
				 
			</div>
		</div>
	</div>


	<%= link_to "Edit", edit_recipe_path(@recipe) %>

</div>



