<%= provide :heading, "Recipe" %>

<%= render "shared/flash_holder" %>

<div class="recipe-box box">
	<div class="title">
		<h2><%= @recipe.display_title %></h2>
	</div>
	<div class="padded-wrap">
		<center class="blurb"><%= @recipe.blurb %></center>
		<h4 class="blue">Ingredients</h4>
		<ul class="ingredient-list">
			<% @recipe.ingredients.each do |ingredient| %>
			<li><div><%= ingredient.name %>, <%= ingredient.quantity %></div></li>
			<% end -%>
		</ul>
		<h4 class="mint">Directions</h4>
		<p><%= @recipe.directions %></p>
	</div>
</div>

<%= link_to "Edit", edit_recipe_path(@recipe) %>
