<div class="row">
  <div class="small-12 medium-10 large-7 xlarge-6 small-centered columns wrong-email">
  	<div class="sign-in-container">
  	   <%#= image_tag "new_logo.png", class: "logo" %>
  	  <h3>Entered the Wrong Email?</h3>
  	  <p>If you entered the wrong email while signing up (doh!), enter your credentials and your correct email to resend confirmation instructions.</p>

      <h4>If you signed up with a regular account/password:</h4>
    
      <%= form_tag(users_unconfirmed_email_change_path, :method => "put", :class => "form")  do %>
        <%= label_tag :username %>
        <%= text_field_tag :username %>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        <%= label_tag :email, "New Email" %>
        <%= email_field_tag :email %>
        <%= submit_tag "Change Email", class: "button-thick" %>
      <% end -%>


  	  <h5 class="or">
  	    <span>OR</span>
  	  </h5>

      <h4>If you signed up with Facebook:</h4>

      <%= form_tag(users_unconfirmed_omniauth_email_change_path, :method => "get", :class => "form") do %>
        <%= label_tag :email, "New Email" %>
        <%= email_field_tag :email %>
        <%= submit_tag "Sign In with Facebook & Change Email", class: "facebook_sign_in" %>
      <% end -%>
  	</div>
  </div>
</div>  