<div class="row">
	<div class="header-title text-center">
		<h1>Menus</h1>
	</div>
</div>

<div class="row">
	<div class="columns">
		<dl class="tabs text-center" id="menu-tabs" data-numsliders="<%= @menus_hash.keys.size %>" data-tab>
			<% @menus_hash.keys.each_with_index do |key, index| %>
			<dd class="<%= 'active' if key == @current_meal %>" data-index="<%= index %>"><a href="#menu-tab-<%= index %>"><%= key %></a></dd>
			<% end -%>
		</dl>
		
		
		<div class="tabs-content" id="menu-tab-content">
			<% @menus_hash.each_with_index do |(key, sub_hash), index| %>
			<div class="content <%= "active" if key == @current_meal %>" data-index="<%= index %>" id="menu-tab-<%= index %>">
				<div id="bxpager<%= index %>" class="pager">
					<% ii = 0 %>
					<% sub_hash.each_with_index do |(sub_key, value), i| %>
						<% if !value.empty? %>
							<a data-slide-index="<%= ii %>" href="#"><%= sub_key %></a>
							<% ii = ii + 1 %>
						<% end -%>
					<% end -%>
				</div>
				<ul id="bxslider<%= index %>" class="bxslider">
					<% sub_hash.each_pair do |k, v| %>
						<% if !v.empty? %>
						<li>
							<h3 class="group"><%= k %></h3>
							<ul class="items">
								<% v.each do |meal| %>
								<% item = Item.find_by(name: meal) %>
									<% if !item.nil? %>
										<li><%= link_to meal, item_path(item) %></li>
									<% else %>
										<li><%= meal %></li>
									<% end %>
								<% end -%>
							</ul>
						</li>
						<% end -%>
					<% end -%>
				</ul>
			</div>
			<% end -%>
		</div>
	</div>
</div>

<span class="sort_by">
	<span>View by: </span>
	<%= link_to "Meal", params.merge(sort_by: ""), class: ("active" unless params[:sort_by] == "dining_hall") %>
	<%= link_to "Hall", params.merge(sort_by: "dining_hall"), class: ("active" if params[:sort_by] == "dining_hall") %>
</span>

