<h1>Menus</h1>
<% index = 0 %>
<div id="sliders_counter" data-numsliders="<%= @menus_hash.keys.size %>"></div>
<% @menus_hash.each_pair do |key, value| %>
	<div class="menu-section">
	<h3 class="section"><%= key %>:</h3>
		
		<div id="bxpager<%= index %>" class="pager">
			<% value.each_with_index do |(k, v), i| %>
				<% if !v.empty? %>
					<a data-slide-index="<%= i %>" href="#"><%= k %></a>
				<% end -%>
			<% end -%>
		</div>

		<ul id="bxslider<%= index %>">
			<% value.each_pair do |k, v| %>
				<% if !v.empty? %>
				<li id="<%= k %>">
					<h4 class="group"><%= k %></h4>
					<ul class="meals">
						<% v.each do |meal| %>
						<li><%= meal %></li>
						<% end -%>
					</ul>
				</li>
				<% end -%>
			<% end -%>
		
		</ul>



	</div>
<% index = index + 1 %>
<% end -%>


