<% content_for :title do %>
Menus
<% end %>

<div class="row">
	<div class="header-title text-center">
		<h1>Menus</h1>
	</div>
</div>

<div class="row">
	<div class="columns">
		<% if @menus_hash.keys.include? @current_meal
				active_index = @menus_hash.keys.index(@current_meal)
			else
				active_index = 0
			end
		 %>

		<dl class="text-center section-nav" id="menu-tabs" data-numsliders="<%= @menus_hash.keys.size %>" data-tab>
			<% @menus_hash.keys.each_with_index do |key, index| %>
			<dd class="<%= 'active' if active_index == index %>" data-index="<%= index %>"><a href="#menu-tab-<%= index %>"><%= key %></a></dd>
				<% if index < @menus_hash.keys.size - 1 %>
				<span class="nav-sep">・</span>
				<% end %>
			<% end -%>
		</dl>
		
		<div class="tabs-content" id="menu-tab-content">
			<% @menus_hash.each_with_index do |(key, sub_hash), index| %>

			<% if sub_hash.keys.length == 1 %>
			<% 	one_slider_only = "one_slider_only"  %>
			<% end -%>
			<div class="content <%= 'active' if active_index == index %> <%= one_slider_only %>" data-index="<%= index %>" id="menu-tab-<%= index %>">
				<div id="bxpager<%= index %>" class="pager section-nav show-for-medium-up bxpager<%= index %> <%= 'active' if active_index == index %>">
					<% ii = 0 %>
					<% sub_hash.each_with_index do |(sub_key, value), i| %>
					<% if !value.empty? %>
					<a data-slide-index="<%= ii %>" href="#"><%= sub_key %></a>
					<% if i < sub_hash.keys.size - 1 %>
					<span class="nav-sep">・</span>
					<% end %>
					<% ii = ii + 1 %>
					<% end -%>
					<% end -%>
				</div>
				<ul id="bxslider<%= index %>" class="bxslider">
					<% sub_hash.each_pair do |k, v| %>
						<% if !v.empty? %>
						<li>
							<h3 class="group"><%= k %></h3>
							<ul class="items">
								<% v.each do |meal| %>
								<% item = Item.find_by(name: meal) %>
									<% if !item.nil? %>
										<li><%= link_to meal, item_path(item) %></li>
									<% else %>
										<li><%= meal %></li>
									<% end %>
								<% end -%>
							</ul>
						</li>
						<% end -%>
					<% end -%>
				</ul>

				<div id="bxpager<%= index %>" class="fixed-pager show-for-small-only bxpager<%= index %> <%= 'active' if active_index == index %>">
					<% ii = 0 %>
					<% sub_hash.each_with_index do |(sub_key, value), i| %>
					<% if !value.empty? %>
					<a data-slide-index="<%= ii %>" href="#" class="link">
						<%- if sub_key[0..1] == "La" -%> 
						       Lang 
						<%- else -%> 
						       <%= sub_key %>
						<%- end -%> 
						 
					</a>
					<% ii = ii + 1 %>
					<% end -%>
					<% end -%>

					<span id="slider-next<%= index %>" class="slider-next fa">
					</span>
				</div>

			</div>
			<% end -%>
		</div>

	</div>
</div>


<% if @recent_recipes %>
<div class="row">
	<div class="detailed-recipes recipe-listings">
	  <%#= render  "recipes/detailed_recipes", recipes: @recent_recipes %>
	  <div class="medium-10 large-9 xlarge-7 medium-centered large-centered columns">
	  	<h3 class="subtitle">Popular</h3>
	  	<%= render 'recipes/detailed_recipe', recipe: @popular_recipe %>
	  	<h3 class="subtitle">Recent</h3>
	  	<div class="list-recipes">
	  	  <table class="">
	  	    <tbody>
	  	      <%= render  "recipes/list_recipes", recipes: @recent_recipes %>
	  	    </tbody>
	  	  </table>
	  	</div>
	  	<% @recent_recipes.each do |recipe| %>
	  	<% end %>
	  </div>
	</div>	
<!-- 	<div class=" tile-recipes">
		<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-3">
		  <%#= render  "recipes/tile_recipes", recipes: @recent_recipes %>
		</ul>
	</div> -->
</div>
<% end %>

<div class="view_by">
	<span>View Menus By: </span>
	<%= link_to "Meal", params.merge(sort_by: ""), class: ("active" unless params[:sort_by] == "dining_hall") %>
	<%= link_to "Hall", params.merge(sort_by: "dining_hall"), class: ("active" if params[:sort_by] == "dining_hall") %>
</div>
