<div class="row">
  <div class="small-12 medium-10 large-7 xlarge-6 small-centered columns recipe-form">
  	<div class="sign-in-container">
  	   <%#= image_tag "new_logo.png", class: "logo" %>
  	  <h3>Sign In</h3>
  	  <p>Sign in to create, comment, and vote on recipes!</p>

      <%= form_for resource, as: resource_name, id: "sign-in-form", :url => session_path(resource_name)  do |f| %>
            <div class="other"><span>New user? </span><%= link_to "Sign up", new_user_registration_path, class: "sign" %></div>
  	        <div class="section clrfix">
  	          <%= f.label :username, "&#xf007;".html_safe, class: "fa inline" %>
  	          <%= f.text_field :username, placeholder: "Username", class: "" %>
  	        </div>
  	        <div class="clrfix">
  	          <%= f.label :password, "&#xf023".html_safe, class: "fa inline" %>
  	          <%= f.password_field :password, placeholder: "Password" %>
  	        </div>
  	        <div class="clrfix">
  	          <!-- <div class="other"><%#= link_to "Forgot your password?", new_password_path(:user)%></div> -->
  	          <%= f.submit 'Sign in', class: "button-thick" %>
  	        </div>
  	  <% end %>

  	  <h5 class="or">
  	    <span>OR</span>
  	  </h5>

  	  <%= link_to(user_omniauth_authorize_path(:facebook), class: "facebook_sign_in") do %>
  	    <span class="socialico">F</span> <span>Sign in with Facebook</span>
  	  <% end %>

      <h4 class="more">Help</h4>
      
      <div class="devise_links">
        
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      <% end -%>

      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
      <% end -%>
      </div>

  	</div>
  </div>
</div>  