<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "middbites" %></title>

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <script type="text/javascript" src="//use.typekit.net/fgh0qas.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body id="<%= params[:controller] + '-' + params[:action] %>" >
    <header id="header" class="show-for-large-up">
       <%= link_to(root_path, class: "logo clrfix") do %>
       <div class="header-logo"></div>
       <!-- <h1 class="middbites"> middbites </h1> -->
       <%= image_tag "logo.png", class: "logo" %>
       <% end %>
    
      <%= link_to(root_path, id: "user_icon") do %>
      <span class="icon-font" data-dropdown="user_hover" data-options="is_hover:true">
        &#xf170
      </span>
      <% end %>

      <div id="sticky_navigation_wrapper">
        <div id="sticky_navigation">
          <div class="row">
            <nav  class="main-nav columns">
              <div class="middbites fixed-appear">middbites</div>
              <div class="social-icons fixed-appear"></div>
              <ul id="main-nav" class="" >
                <li class="nav-1"><%= link_to "Recipes", recipes_path, class: ("active" if params[:controller] == "recipes" and !current_page?(new_recipe_path)) %></li>
                <li class="nav-2"><%= link_to "Menus", menus_path, class: ("active" if params[:controller] == "pages" and params[:action] == "menus") %></li>
                <li class="nav-3">
                  <%= link_to "Tags", all_tags_path %>
                </li>
                <li class="nav-4">
                  <%= link_to "Ingredients", all_items_path %>
                </li>
                <li class="nav-5">
                  <a href="#" data-reveal-id="search-modal" class="icon-font search">&#xf094</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div> 
    </header>


    <div id="search-modal" class="search-modal" data-reveal>
      <%= form_tag(search_path, {method: :get, :class => "search-form"}) do %>
        <%= text_field_tag :keywords, nil, placeholder: "Search recipes, tags, or ingredients...", id: "search" %>
        <%#= select_tag :context,  options_for_select(["Everything", "Recipes", "Tags", "Ingredients"], "Everything")%>
        <%= button_tag(type: "submit", class: "icon-font") do %>
            &#xf094
        <% end -%>
      <% end -%>
    </div>
    
    <div class="hide-for-large" id="mobile-nav-wrapper">
      <nav class="hide-for-large-up fixed">
        <div id="mobile-nav">
          
        </div>
        <a class="menu-btn" >Menu</a>
      </nav>
    </div>
    
    <ul id="user_hover" class="f-dropdown" data-dropdown-content>
      <% if !logged_in? %>
        <li><%= link_to "Sign up", "#" %></li>
        <li>
          <%= link_to "/auth/facebook" do %>
            Sign in with <span class="facebook_blue">Facebook</span>
          <% end %>
        </li>
      <% else %>
          <li class="hello">Hello, <%= current_user.first_name %></li>
          <hr>
          <li><a href="">Account</a></li>
          <li><a href="">Favorited Recipes</a></li>
          <li><a href="">Bit Recipes</a></li>
          <hr>
          <li><%= link_to "Log Out", signout_path %></li>
      <% end %>
    </ul>
    
    <div class="main-content"><%= yield %></div>
    
    <footer id="footer">
      <h5>middbites</h5>
      <ul class="inline-nav">
        <span class="nav-sep"></span>
        <li><%= link_to "Home", root_path %><span class="nav-sep">・</span></li>
        <li class="hide-small"><%= link_to "Create", new_recipe_path %><span class="nav-sep">・</span></li>
        <li class="hide-small"><%= link_to "Tags", grouped_tags_path %><span class="nav-sep">・</span></li>
        <li class="hide-small"><%= link_to "Ingredients", all_items_path %><span class="nav-sep">・</span></li>
        <li><%= link_to "About", recipes_path %><span class="nav-sep">・</span></li>
        <li><%= link_to "Contact", recipes_path %></li>
        <li></li>
      </ul>
      <div class="built-by">
        Designed and built by Jeloi.
      </div>
      <div class="copyright">
        © 2014 Middbites. All Rights Reserved.
      </div>
    </footer>

    </body>
</html>