<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "middbites" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//use.typekit.net/fgh0qas.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body id="<%= params[:controller] + '-' + params[:action] %>">
    <%= javascript_include_tag "application" %>
    

    <div id="pagewrap"> 
      
      <header id="header">
        <%= link_to(root_path, class: "logo clrfix") do %>
        <div class="header-logo"></div>
        <h1 class="header-title">
          middbites
        </h1>
        <% end %>
        <!-- <div class="slogan">discover & share the best bites @ midd</div> -->
  <!-- 
            <form method="get" id="search-form" action="" >
              <div id="search">
                <input class="field" type="text" placeholder="Search anything.." name="search" id="search-input" />
                <input class="submit" id="search-submit" type="submit" value=" " />
                <div style="clear: both;"></div>
              </div>        
            </form> -->
      </header>
      <div id="sticky_navigation_wrapper">
        <nav id="sticky_navigation" class="main-nav">
          <ul id="main-nav" class="row" >
            <li class="nav-1"><%= link_to "recipes", recipes_path, class: ("active" if params[:controller] == "recipes" and !current_page?(new_recipe_path)) %></li>
            <li class="nav-2"><%= link_to "menus", menus_path, class: ("active" if params[:controller] == "pages" and params[:action] == "menus") %></li>
            <li class="nav-3"><a href="">Other</a></li>
            <li class="nav-4">
              <span class="icon-font search">&#xf094</span>
              <%= link_to() do %>
              <span class="icon-font" data-dropdown="user_hover" data-options="is_hover:true">
                &#xf170
              </span>
              <% end %>
            </li>
          </ul>
        </nav>
      </div> 
      <ul id="user_hover" class="f-dropdown" data-dropdown-content>
        <% if !logged_in? %>
          <li><%= link_to "Sign up", "#" %></li>
          <li>
            <%= link_to "/auth/facebook" do %>
              Sign in with <span class="facebook_blue">Facebook</span>
            <% end %>
          </li>
        <% else %>
            <li class="hello">Hello, <%= current_user.first_name %></li>
            <hr>
            <li><a href="">Account</a></li>
            <li><a href="">Favorited Recipes</a></li>
            <li><a href="">Bit Recipes</a></li>
            <hr>
            <li><%= link_to "Log Out", signout_path %></li>
        <% end %>
      </ul>

      <div id="support-bar"></div>

      <%= yield %>
        <footer id="footer">
          
        </footer>
        
      </div>

      
      <div class="box"><%#= debug(params) if Rails.env.development? %></div>
    </body>
</html>