<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "middbites" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//use.typekit.net/fgh0qas.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <%= javascript_include_tag "application" %>
    

    <div id="pagewrap"> 
      <header id="header">
        <%= link_to(root_path, class: "logo clrfix") do %>
        <div class="header-logo"></div>
        <div class="header-title">
          middbites
        </div>
        <% end %>
        <!-- <div class="slogan">discover & share the best bites @ midd</div> -->
  <!-- 
            <form method="get" id="search-form" action="" >
              <div id="search">
                <input class="field" type="text" placeholder="Search anything.." name="search" id="search-input" />
                <input class="submit" id="search-submit" type="submit" value=" " />
                <div style="clear: both;"></div>
              </div>        
            </form> -->
            
          </header>
          <nav class="main-nav">
            <ul class="main-width">
              <li class="nav-1"><%= link_to "recipes", recipes_path, class: ("active" if params[:controller] == "recipes" and !current_page?(new_recipe_path)) %></li>
              <li class="nav-2"><%= link_to "menus", menus_path, class: ("active" if params[:controller] == "pages" and params[:action] == "menus") %></li>
              <li class="nav-3"><%= link_to "create", new_recipe_path, class: ("active" if current_page?(new_recipe_path)) %></li>
              <li class="nav-4"><a href="">tags</a></li>
              <li class="nav-5"><%= link_to "ingredients", all_items_path, class: ("active" if params[:controller] == "items") %></li>
            </ul>
          </nav>
          <!-- <div class="toolbar"></div> -->


        <div id="body-section">
            <%= render 'shared/flash_holder' %>
            <%- if content_for?(:top_section) %>
            <%= yield(:top_section) %>
            <% end -%>
          <div class="main-width">
            <div id="main-content">
                <div class="table-col content">
                 <%= yield %> 
               </div>
               <% if content_for?(:sidebar_content) %>
               <div class="table-col sidebar">
                <%= yield :sidebar_content %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <footer id="footer">
          <div id="current-user-text">
            <% if logged_in? %>
            <div>Hello, <%= current_user.first_name %></div>
            <div id="sign_out"><%= link_to "Sign Out", signout_path %></div>
            <% else %>
            <span id="sign_in">JS signin</span>
            <div>Sign in with <span ><%= link_to "Facebook", "/auth/facebook" %></span></div>
            <% end -%>
          </div>
        </footer>
        
      </div>

      
      <div class="box"><%= debug(params) if Rails.env.development? %></div>
    </body>
</html>