<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "middbites" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="pagewrap"> 
      <header id="header">
        <div id="logo-container"></div>
        <div id="header-content-container">
          <form method="get" id="search-form" action="" >
            <div id="search">
              <input class="field" type="text" placeholder="Search anything.." name="search" id="search-input" />
              <input class="submit" id="search-submit" type="submit" value=" " />
              <div style="clear: both;"></div>
            </div>        
          </form>
          
          <nav>
            <ul>
              <li><%= link_to "create", new_recipe_path %></li>
              <li><a href="">menus</a></li>
              <li><%= link_to "recipes", recipes_path, class: "active" %></li>
              <li><a href="">tags</a></li>
              <li><a href="">ingredients</a></li>
            </ul>
          </nav>

          <hr id="hr1">
          <div id="current-user-text">
            <a id="sign-in" href="">Sign in with <span>Facebook</span></a>
          </div>
        </div>
      </header>

      <div id="body">
        <div id="content-wrap" class="clear">
          <div id="content">
            <%- if content_for?(:heading) -%> 
                      <h2 id="heading" class="shadow <%= yield(:heading).downcase.split(" ").join("-") %>"><%= yield :heading %></h2>
            <%- end -%> 
            <%= yield %>
          </div> 
        </div>
        <div id="sidebar">Sidebar
        </div>

        <div style="clear: both"></div>

        <footer class="row" id="footer">
          <div class="column small-4">
            <div class="footer-col">
              Footer Col 1
            </div>
          </div>
          <div class="column small-4">
            <div class="footer-col">
              Footer Col 2
            </div>
          </div>
          <div class="column small-4">
            <div class="footer-col">
              Footer Col 3
            </div>
          </div>
        </footer>
      </div>
      
    </div>

    
<div class="box"><%= debug(params) if Rails.env.development? %></div>  </body>
</html>
