<% content_for :title do %>
Ingredients
<% end %>


<% content_for :content do %>
  <div class="header-title text-center">
    <h1>Ingredients</h1>
  </div>

  <div class="section-nav text-center ingredients">
    <%= link_to "Alphabetical", alphabetical_items_path, class: ("active" if params[:action] == "alphabetical") %>
    <span class="nav-sep">・</span>
    <%= link_to "Categorized", categorized_items_path, class: ("active" if params[:action] == "categorized") %>
    <span class="nav-sep">・</span>
    <%= link_to "Popular", popular_items_path, class: ("active" if params[:action] == "popular") %>
  </div>

  <%= yield %>

<% end %>
<%= render template: "layouts/application" %>